html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    color: #242729;
    background: #FFF;
    min-width: 1075px;
}
ul li { list-style-type: none }

.e-nav { background: #920092; }

.page-header { 
    width: 100%;
    height: 60px;
    background: #920092;
    position: relative; 
    color: #fff;
}
.page-menu ul li { margin-left: 15px; }
.page-menu ul li a { color: #fff; font-size: 14px; }

.page-secondary-menu { padding: 5px 0 }

.ebtn { color: #fff; background: #920092 }
.ebtn:hover { background: #750175 }
.ebtn-success { color: #fff; background: #2AA908}
.ebtn-success:hover { background: #207C06 }

.padding0510 { padding: 5px 10px}
